--- 
- hosts: all
  tasks:
    - name: Log into DockerHub
      community.docker.docker_login:
        username: "{{ docker_hub_user }}"
        password: "{{ docker_hub_password }}"
    - name: deploy application
      community.docker.docker_compose_v2:
        project_name: "{{ project_name }}"
        definition:
          version: '2'
          services:
            api:
              container_name: "{{ project_name }}"
              image: "{{ docker_repo_url }}:{{ version }}"
              restart: always
              ports:
                - "4000:4000"