--- 
- hosts: localhost
  
  tasks:
    - name: Log into DockerHub
      community.docker.docker_login:
        username: "{{ docker_hub_user }}"
        password: "{{ docker_hub_password }}"
    - name: Build an image and push it to a docker hub repo
      community.docker.docker_image:
        build:
          path: "{{ workspace }}/{{project_name}}"
        name: "{{ docker_repo_url }}"
        repository: "{{ docker_repo_url }}:{{version}}"
        tag: "{{ version }}"
        push: true
        source: build